<div class="route__card" *ngIf="route">
  <p class="route__card-name">{{ route.name }}</p>
  <p class="route__card-length">{{ route.length }}</p>
  <p class="route__card-grade">
    {{ route.grade
    }}<span
      ><img
        src="https://firebasestorage.googleapis.com/v0/b/final-project-f8c07.appspot.com/o/icons%2Fcandado-icon.svg?alt=media&token=b1749dc9-79bb-4c07-b0d4-c10166ad4403"
        alt="candado"
    /></span>
  </p>
  <app-enchain-button [route]="route"></app-enchain-button>
  <app-project-button [route]="route"></app-project-button>
</div>
