* {
  display: flex;
  justify-content: space-between;
}
// no funciona, investiga
// html {
//   background-image: url("https://firebasestorage.googleapis.com/v0/b/final-project-f8c07.appspot.com/o/pexels-riccardo-303040.jpg?alt=media&token=d3b6117d-96b5-43bf-a51c-b3d40248aa91");
// }

.container {
  display: flex;
  justify-content: space-between;
}
