* {
  display: flex;
  justify-content: space-between;
}

.background {
  position: absolute;
  z-index: -2;
  width: 100vw;
  height: 100vh;
  opacity: 0.4;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 30px;
}

.logo {
  position: absolute;
  right: 10px;
  top: 10px;
}

.logo-name {
  padding: 3.5rem 0;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
