<img
  class="background"
  src="https://firebasestorage.googleapis.com/v0/b/final-project-f8c07.appspot.com/o/ricardo3.png?alt=media&token=0e5e7e2c-2ce4-4001-a9d8-ad73efc31f98"
  alt=""
/>

<img
  class="logo"
  src="https://firebasestorage.googleapis.com/v0/b/final-project-f8c07.appspot.com/o/chapa-removebg-preview%202.svg?alt=media&token=f5ebb301-9ee3-40dd-8c54-726f1764c299"
  alt="logo chapa escalada"
/>
<img
  class="logo-name"
  src="https://firebasestorage.googleapis.com/v0/b/final-project-f8c07.appspot.com/o/KeeptheClimb.svg?alt=media&token=4de564fa-51f5-4c9c-bf5e-bfb5dfb4b316"
  alt="nombre de la aplicación"
/>

<app-login-data-form class="form"></app-login-data-form>
<div class="container">
  <app-sign-in-button></app-sign-in-button>
  <app-without-login-button></app-without-login-button>
</div>
