<div class="navbar">
  <div class="hover">
    <img
      class="navbar__icon-home"
      (click)="goHome()"
      src="https://firebasestorage.googleapis.com/v0/b/final-project-f8c07.appspot.com/o/icons%2Fnavbar%2Ficon-home.svg?alt=media&token=b065861e-da27-453d-8f96-56e47aae6d42"
      alt="icono home"
    />
  </div>

  <div class="hover">
    <img
      class="navbar__icon-profile"
      (click)="goProfile()"
      src="https://firebasestorage.googleapis.com/v0/b/final-project-f8c07.appspot.com/o/icons%2Fnavbar%2Ficon-profile.svg?alt=media&token=c9ff3735-5999-4ed1-81dd-b6e5c2649236"
      alt="icono perfil"
    />
  </div>

  <div class="hover">
    <img
      class="navbar__icon-enchain"
      (click)="goEnchain()"
      src="https://firebasestorage.googleapis.com/v0/b/final-project-f8c07.appspot.com/o/icons%2Fnavbar%2Fenchain-icon.svg?alt=media&token=d19ec909-9321-4189-9de8-041ba02bfdde"
      alt="icono encadenes"
    />
  </div>

  <div class="hover">
    <img
      class="navbar__icon-project"
      (click)="goProject()"
      src="https://firebasestorage.googleapis.com/v0/b/final-project-f8c07.appspot.com/o/icons%2Fnavbar%2Fproject-icon.svg?alt=media&token=58075d55-38e1-4c08-b479-f6f862242aba"
      alt="icono proyectos"
    />
  </div>
</div>
