.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;

  img {
    width: 2.5rem;
    cursor: pointer;
  }

  .navbar__icon-enchain {
    width: 3.1rem;
  }
}

.hover:hover img {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}
.hover {
  overflow: hidden;
  padding: 0.5rem;
}
