.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

input {
  display: flex;
  text-align: center;

  margin: 10px 0;
  border: 0.7px solid #b4c7dc;
  border-radius: 35px;
  background-color: #b4c7dc;
  padding: 0.5rem;
}

.error-message {
  color: red;
}

button {
  border: 0.7px solid #b4c7dc;
  border-radius: 35px;
  background-color: #b4c7dc;
  padding: 0rem;
  width: 130px;
  margin-top: 20px;
}
