.form {
  font-family: "Dosis", sans-serif;
  &__email {
    font-family: "Dosis", sans-serif;
  }
  &__password {
    font-family: "Dosis", sans-serif;
  }
  &__button-login {
    font-family: "Dosis", sans-serif;
  }
  &__error-message {
    color: red;
  }
}
