.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  input {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 10px 0;
    border: 0.7px solid #b4c7dc;
    border-radius: 35px;
    background-color: #b4c7dc;
    padding: 0.5rem;
  }

  &__button-login {
    border: 0.7px solid #b4c7dc;
    border-radius: 35px;
    background-color: #b4c7dc;
    padding: 0.3rem;
    width: 70px;
  }

  input::placeholder {
    color: black;
  }

  &__error-message {
    color: red;
  }
}
