<h2 class="title">Mis proyectos</h2>
<div *ngIf="projectsRoutes.length > 0; else advise">
  <div class="caption">
    <p class="caption__name">Nombre</p>
    <p class="caption__lng">Longitud</p>
    <p class="caption__grd">Grado</p>
    <p class="caption__ench">Encadenada</p>
  </div>
  <div class="routes-container">
    <ul class="routes">
      <li class="routes__list" *ngFor="let project of projectsRoutes">
        <p class="list__route-name">{{ project.route.name }}</p>
        <p class="list__route-length">{{ project.route.length }}m</p>
        <p class="list__route-grade">{{ project.route.grade }}</p>
        <app-enchain-button
          class="enchain"
          [route]="project.route"
        ></app-enchain-button>
      </li>
    </ul>
  </div>
</div>

<ng-template #advise>Aún no tienes vías encadenadas</ng-template>
