// img {
//   width: 35%;
// }

.footer-container {
  display: flex;
  justify-content: center;
  padding: 1rem;

  &footer {
    position: fixed;
  }
}

main {
  min-height: 570px;
  margin: 0 2%;
}
