<div class="global">
  <p class="media-grade">Media grado</p>
  <div class="container">
    <div class="container__progressbars">
      <div class="progressbar">
        <svg class="progressbar__svg">
          <circle
            cx="80"
            cy="80"
            r="70"
            class="progressbar__svg-circle circle-html shadow-html"
          ></circle>
        </svg>
        <span class="progressbar__text shadow-html"
          ><p class="mediaRoute">{{ mediaRoutes() }}</p></span
        >
      </div>
    </div>
  </div>
</div>
