.statistics {
  display: flex;
  justify-content: center;
  gap: 2px;
}

.edit {
  position: absolute;
  left: 345px;
  top: 122px;
}

.buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.button-logout,
.button-delete {
  margin: 2rem;
}
